<!DOCTYPE html>
<html>
<head>
   
    
<title>Mission Show</title>
</head>
<body>
    <h1>The mission <%=marsMissions.name%> hand a launch date of <%=marsMissions.launchDate%>, it was operated by <%=marsMissions.operator%>, and was a <%=marsMissions.type%> mission. <%=marsMissions.img%></h1>
</body>
</html>


    

    
    