<!DOCTYPE html>
<html>
<head>
   
    
<title>Missions Show</title>
</head>
<body>
    
    <h1><%=marsMissions.name%></h1>
    <h1><%=marsMissions.launchDate%></h1>
    <h1><%=marsMissions.operator%></h1>
    <h1><%=marsMissions.missionType%></h1>
    <h1><%=marsMissions.img%></h1>
    
</body>
</html>


    

    
    